<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado</title>
</head>

<body>
    <h1>Lista de Empleados</h1>
    <form action="{% url 'insertarempleado' %}">
        <hr />
        <input type="submit" value="Nuevo Empleado" />
        <table border="1">
            <tr>
                <th>Codigo</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Estado</th>
                <th colspan="2">Accion</th>
            </tr>
            {% for emp in empleados %}
                <tr>
                    <td>{{ emp.0 }}</td>
                    <td>{{ emp.1 }}</td>
                    <td>{{ emp.2 }}</td>
                    <td>{{ emp.3 }}</td>
                    <td>{{ emp.4 }}</td>
                    <td><a href="/editar/{{ emp.0 }}">Editar</a></td>
                    <td><a href="/eliminar/{{ emp.0 }}" onclick="return confirm('¿Estás seguro que quieres eliminar?')">Eliminar</a></td>
                </tr>
            {% endfor %}
        </table>
    </form>
</body>

</html>